{% extends "layouts/main.html" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  

      <h1 class="govuk-heading-l">Apply for Carer's Allowance - short prototypes</h1>

      <h2 class="govuk-heading-m">OIDV</h2>

      {% set inProgressStatus = {
        tag: {
          text: "Ongoing",
          classes: "govuk-tag--yellow"
        }
      } %}

      {% set liveStatus = {
        tag: {
          text: "In live",
          classes: "govuk-tag--green"
        }
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--red"
        }
      } %}

      {% set testedStatus = {
        tag: {
          text: "Tested",
          classes: "govuk-tag--blue"
        }
      } %}

      {% set experimentalStatus = {
        tag: {
          text: "Experimental",
          classes: "govuk-tag--pink"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}
      {% from "govuk/components/task-list/macro.njk" import govukTaskList %}
      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "OIDV documentation filter screen"
            },
            hint: {
              text: "A screen to sit in CADS that asks the user if they have the documentation to get through OIDV. If they do not, they will bypass the OIDV journey.
              This has been tested. "
            },
            href: "short-journeys/oidv-filter.html",
            status: testedStatus
          },
          
          {
            title: {
              text: "OIDV drop out to CA screen"
            },
            hint: {
              text: "A screen to sit in CADS that users will see if they drop out of OIDV back into the CA application journey. It's to give users information about what is happening, so that they understand they can continue applying online. "
            },
            href: "short-journeys/oidv-dropout.html",
            status: inProgressStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Stand-alone pages or journeys</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Making bank details mandatory"
            },
            hint: {
              text: "Jira ticket ACA-2829"
            },
            href: "short-journeys/bank-details.html",
            status: liveStatus
          },

          {
            title: {
              text: "Updating the 35 hours eligibility question"
            },
            hint: {
              text: "Jira ticket ACA-2945"
            },
            href: "short-journeys/35-hours.html",
            status: inProgressStatus
          },
          {
            title: {
              text: "Accessibility statements for WCAG 2.2"
            },
            hint: {
              text: "Updating the existing accessibility statement to include failures for WCAG 2.2."
            },
            href: "short-journeys/accessibility/a11y-index.html",
            status: inProgressStatus
          },
          {
            title: {
              text: "Scottish qualifying benefits - PADP and SADLA"
            },
            hint: {
              text: "Adding the 2 new qualifying benefits being introduced in Scotland in 2024/25"
            },
            href: "short-journeys/scottish-qb.html",
            status: inProgressStatus
          }
        ]
      }) }}
</div>
</div>
      

   
{% endblock %}
