{% extends "layouts/main.html" %}

{% block pageTitle %}
Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      

<form action="#" method="post" autocomplete="off" novalidate="" class="casa-journey-form">
  <input type="hidden" name="_csrf" value="CErSTDqW-l-6Pk7T_TmtAAoQQq4FZi74yg3Y">
  
  
  
    


    <h1 class="govuk-heading-xl">
        Datganiad hygyrchedd ar gyfer  Hysbysiad newid i Lwfans Gofalwr
    </h1>

    <p class="govuk-body">
        Mae'r gwasanaeth hwn yn rhan o wefan ehangach GOV.UK. Mae
        <a href="https://www.gov.uk/help/accessibility-statement" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
            datganiad hygyrchedd ar wahân ar gyfer prif wefan GOV.UK.</a>
    </p>
    <p class="govuk-body">
        Mae'r dudalen hon ond yn cynnwys gwybodaeth am y gwasanaeth Hysbysu newid i Lwfans Gofalwr yn unig, sydd ar gael yn
        <a href="https://www.carersallowance.service.gov.uk/circumstances/report-changes/change-selection" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
            
            www.carersallowance.service.gov.uk/circumstances/report-changes/change-selection</a>.
    </p>

    <h2 class="govuk-heading-l">
        Defnyddio'r gwasanaeth hwn
    </h2>
    <p class="govuk-body">
        
        Mae'r gwasanaeth hwn yn cael ei redeg gan yr Adran Gwaith a Phensiynau (DWP). Rydym am i gynifer o bobl â phosibl allu defnyddio'r gwasanaeth hwn. Er enghraifft, mae hyn yn golygu y dylech fod yn gallu:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>newid lliwiau, lefelau cyferbyniad a ffontiau gan ddefnyddio gosodiadau porwr neu ddyfais</li>
        <li>chwyddo i mewn hyd at 400% heb i'r testun ollwng oddi ar y sgrin</li>
        <li>mynd o ddechrau'r gwasanaeth i'r diwedd gan ddefnyddio bysellfwrdd neu feddalwedd adnabod lleferydd yn unig</li>
        <li>gwrando ar y gwasanaeth gan ddefnyddio darllenydd sgrin (gan gynnwys y fersiynau diweddaraf o JAWS, NVDA a VoiceOver)</li>
    </ul>
    <p class="govuk-body">
        Rydym hefyd wedi gwneud y testun yn y gwasanaeth mor syml â phosibl i'w ddeall.
    </p>
    <p class="govuk-body">
        Mae gan
        <a href="https://mcmw.abilitynet.org.uk/" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
            AbilityNet</a>
        gyngor ar wneud eich dyfais yn haws i'w defnyddio os oes gennych anabledd.
    </p>

    <h2 class="govuk-heading-l">
        Pa mor hygyrch yw'r gwasanaeth hwn
    </h2>

    <p class="govuk-body">
        Rydym yn gwybod nad yw rhai rhannau o'r gwasanaeth hwn yn gwbl hygyrch:
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Efallai na fydd meddalwedd darllenydd sgrin JAWS yn darllen pob pennawd tudalen yn Internet Explorer 11 - mae hwn yn fater hysbys gyda JAWS fersiwn 18 neu uwch,rydym yn argymell defnyddio porwr gwahanol i osgoi'r broblem hon.</li>
        <li>Pecynnau llais JAWS - mae rhai lleisiau JAWS yn darllen y term ‘P45’ yn anghywir fel ‘45p’, mae hwn yn fater JAWS sy’n effeithio ar rai pecynnau llais yn unig</li>
        <li>Meddalwedd adnabod lleferydd Dragon - ni fydd dolenni sy’n datgelu testun cudd ar dudalen yn ymateb i’r gorchymyn ‘cliciwch dolen’, ond byddant yn ymateb i ‘ cliciwch botwm ’ - 
            <a href="https://github.com/alphagov/govuk-design-system-backlog/issues/44#issuecomment-628082040" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">mae hwn yn fater hysbys gyda chydran manylion System Ddylunio GOV.UK.</a>
        </li>
        <li>
            efallai y bydd rhai dyfeisiau symudol a ddefnyddir yn y dull portread yn profi cynnwys sydd ddim yn ffitio ar y sgrin. Gallwch weld y cynnwys naill ai drwy sgrolio'n llorweddol neu ddefnyddio'r ddyfais symudol yn y dull tirwedd
        </li>
        <li>
            nid oes tudalen ar ddiwedd y daith sy'n eich galluogi i wirio'r holl wybodaeth rydych wedi'i roi. Os nad ydych yn siŵr am unrhyw beth rydych wedi'i roi, gallwch ddefnyddio'r dolenni 'yn ôl' i fynd yn ôl trwy dudalennau'r daith
        </li>
    </ul>


    <h2 class="govuk-heading-l">
        Beth i'w wneud os ydych chi'n cael anhawster defnyddio'r gwasanaeth hwn
    </h2>
    <p class="govuk-body">
        Os ydych chi'n cael anhawster defnyddio'r gwasanaeth hwn,
        <a href="https://www.gov.uk/carers-allowance-unit" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
            cysylltwch â'r Uned Lwfans Gofalwr</a>.
    </p>
    <p class="govuk-body">
        Fel rhan o ddarparu'r gwasanaeth hwn, efallai y bydd angen i ni anfon negeseuon neu ddogfennau atoch. Byddwn yn gofyn i chi sut rydych chi am i ni anfon negeseuon neu ddogfennau atoch chi, ond cysylltwch â ni os bydd eu hangen arnoch mewn fformat gwahanol. Er enghraifft, print bras, recordiad sain neu braille.
    </p>


    <h2 class="govuk-heading-l">
        Rhoi gwybod am broblemau hygyrchedd gyda'r gwasanaeth hwn
    </h2>
    <p class="govuk-body">
        Rydym bob amser yn ceisio gwella hygyrchedd y wefan hon. Os byddwch yn dod o hyd i unrhyw broblemau nad ydynt wedi'u rhestru ar y dudalen hon, neu'n meddwl nad ydym yn bodloni gofynion hygyrchedd, gallwch
          <a href=" https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact-form?lang=cy" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
        roi gwybod am broblem hygyrchedd</a> (agor mewn tab newydd).
    </p>



    <h2 class="govuk-heading-l">
        Gweithdrefn orfodi
    </h2>
    <p class="govuk-body">
        Mae’r Comisiwn Cydraddoldeb a Hawliau Dynol (EHRC) yn gyfrifol am orfodi Rheoliadau Hygyrchedd Cyrff Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018 (y ‘rheoliadau hygyrchedd’).
    </p>
    <p class="govuk-body">Os nad ydych yn hapus â sut rydym yn ymateb i'ch cwyn, cysylltwch â'r:
    </p>

    <ul class="govuk-list govuk-list--bullet">
        
        
        <li>
            <a href="http://eass-ws.custhelp.com/app/home" rel="noopener noreferrer" target="_blank" class="govuk-link" aria-describedby="new-window-0">Gwasanaeth Cynghori a Chefnogaeth Cydraddoldeb (EASS)</a>
            os ydych chi'n byw yng Nghymru, Lloegr neu'r Alban
        </li>

        
            <li>
                <a href="https://www.equalityni.org/contactus" rel="noopener noreferrer" target="_blank" class="govuk-link" aria-describedby="new-window-0">Comisiwn Cydraddoldeb Gogledd Iwerddon (ECNI)</a>
                os ydych chi'n byw yng Ngogledd Iwerddon 
            </li>
        
    </ul>

    <h2 class="govuk-heading-l">
        Cysylltu â ni dros y ffôn neu ymweld â ni'n bersonol
    </h2>
    <p class="govuk-body">
        Rydym yn darparu gwasanaeth cyfnewid testun i bobl sy'n fyddar, â nam ar eu clyw neu sydd â nam ar eu lleferydd.
    </p>
    <p class="govuk-body">
        Mae gan ein swyddfeydd ddolenni sefydlu sain, neu os byddwch chi'n cysylltu â ni cyn eich ymweliad gallwn drefnu cyfieithydd Iaith Arwyddion Prydain (BSL) i'ch helpu chi i gwblhau'r gwasanaeth yn bersonol.
    </p>
    <p class="govuk-body">
        <a href="https://www.gov.uk/carers-allowance-unit" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
            Darganfyddwch sut i gysylltu â ni
        </a>
    </p>

    <h2 class="govuk-heading-l">
        Gwybodaeth dechnegol am hygyrchedd y gwasanaeth hwn
    </h2>
    <p class="govuk-body">
        
        Mae DWP wedi ymrwymo i wneud y gwasanaeth hwn yn hygyrch, yn unol â Rheoliadau Hygyrchedd Cyrff y Sector Cyhoeddus (Gwefannau a Chymwysiadau Symudol) (Rhif 2) 2018.
    </p>
    <h3 class="govuk-heading-m">Statws cydymffurfio</h3>
    <p class="govuk-body">
        Mae'r gwasanaeth hwn yn cydymffurfio'n rhannol â 
        <a href="https://www.w3.org/TR/WCAG22/" rel="noopener noreferrer" target="_blank" aria-describedby="new-window-0" class="govuk-link">
            safon AA Canllawiau Hygyrchedd Cynnwys y We fersiwn 2.2</a> oherwydd y diffyg cydymffurfio a restrir isod.
    </p>
    
    <h2 class="govuk-heading-l">
        Cynnwys nad yw'n hygyrch
    </h2>
    <p class="govuk-body">
          
        Nid yw'r cynnwys a restrir isod yn hygyrch am y rhesymau canlynol.
    
      </p>
    
      <h3 class="govuk-heading-m">Diffyg cydymffurfio â'r rheoliadau hygyrchedd</h3>


      <p class="govuk-body">Efallai y bydd rhai dyfeisiau symudol a ddefnyddir yn y dull portread yn profi cynnwys neu ddolenni yn cael eu torri i ffwrdd ar dudalennau sy'n defnyddio cydrannau tabl. Mae hyn yn methu maen prawf llwyddiant 1.4.10 WCAG 2.2 (ail-lifo).</p>

      <p class="govuk-body">Mae problem ar rai tudalennau lle mae cwestiynau a ddatgelir yn amodol  gyda botymau radio. Wrth ddefnyddio darllenydd sgrin ar y tudalennau hyn, mae rhifo'r botymau a ddatgelir yn amodol yn  anghywir. Mae hyn yn methu meini prawf llwyddiant 1.3.1. (gwybodaeth a pherthnasoedd), 2.4.6 (penawdau a labeli) a 4.1.2 (enw, rôl a gwerth) WCAG 2.2.</p>
      
      <p class="govuk-body">Os ydych yn defnyddio meddalwedd darllen sgrin, mae problem ar y dudalen crynodeb seibiant mewn gofal, lle nad yw'r darllenydd sgrin yn dweud bod dilysu gwallau wedi bod ar y dudalen pan fyddwch chi'n clicio parhau. Mae hyn yn methu maen prawf llwyddiant 3.3.1 (adnabod gwallau) WCAG 2.2.</p>
      
      <p class="govuk-body">Nid oes tudalen sy'n eich galluogi i wirio gwybodaeth rydych wedi'i nodi cyn i chi gyflwyno'ch newid ar ddiwedd y daith. Mae hyn yn methu maen prawf llwyddiant 3.3.4 (atal gwall) WCAG 2.2.</p>
      
      <p class="govuk-body">Rydym yn bwriadu datrys yr holl faterion uchod pan fyddwn yn datblygu gwasanaeth ar-lein newydd.</p>
      


      <h2 class="govuk-heading-l">
        Paratoi'r datganiad hygyrchedd hwn
    </h2>
    <p class="govuk-body">
        
        Paratowyd y datganiad hwn ar 23 Medi 2020. Fe'i hadolygwyd ddiwethaf ar 16 Medi 2024.</p>

        <p class="govuk-body"> Profwyd y gwasanaeth hwn ddiwethaf ar 16 Ebrill 2024 yn erbyn safon AA WCAG 2.2.</p>
        
            <p class="govuk-body">Cynhaliwyd y prawf gan DWP, gan ddefnyddio profion awtomataidd â llaw.</p>

    <div hidden="">
      <span id="new-window-0"> Yn agor mewn ffenestr newydd</span>
    </div>


      

  
</form>

      </div>
  </div>




{% endblock %}