//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

.more {
  display: none;
}

.d-block {
  display: block;
}

.width-fit-content {
  width: fit-content;
}

.show-more-button {
  display: block;
  margin-top: 2em;
}

#ui-id-1 {
    background: white;
    border: 1px solid black;
    width: 50%;
}

.text-red {
  color: #ff0000!important;
}