@dwp:registry=https://gitlab.com/api/v4/groups/dwp/-/packages/npm/
//gitlab.com/api/v4/groups/dwp/-/packages/npm/:_authToken=$glpat-nQzOfDao4CiL1MikoflcoG86MQp1OmhlZnQ5Cw.01.121w82x6k
registry=https://registry.npmjs.org/