registry=https://registry.npmjs.org/

@dwp:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=$glpat-EDSkZ3dJrldEkF2uvUFZHGM6MQpvOjEKdTpoZWZ0OQ8.01.17130w0in