{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Nationality prototype start page
      </h1>

      <p class="govuk-body-l">
        Opening text if we need it.
      </p>

      <p class="govuk-body">Body text if we need it.</p>

      {{ govukButton({
        text: "Start now",
        href: "email-confirmation",
        isStartButton: true
      }) }}

    </div>

  </div>

{% endblock %}
