{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Updating the education journey to meet user needs
      </h1>

      <h2 class="govuk-heading-m">
        User needs
      </h2>

      <p>
        <strong>As a</strong> person in education making a claim for Carer's Allowance
      </p>
      <p>
        <strong>I need</strong> the questions to make sense to my situation and to know if I am not eligible for Carer's Allowance as soon as possible
      </p>
      <p>
        <strong>So that</strong> I can answer the questions correctly, and not waste time completing an application for Carer's Allowance if I am not going to get it
      </p>

      <h2 class="govuk-heading-m">
        Mural and Jira links
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
         Mural board: <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1675766379899/2ab9a8b5720ee2290b7a0e4a35a7d40514ec6f53?sender=uaf4f08e64e5582ce511f2389">UX - education redesign</a>
        </li>

        <li>
          Jira ticket: <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://dwpdigital.atlassian.net/browse/ACA-3027">ACA-3027</a>
        </li>
      </ul>

       
      <h2 class="govuk-heading-m">
        Prototype journeys
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-past-date.html">Date of claim is in the past - (1 July 2024)</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-today-date.html">Date of claim is today</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-future-date.html">Date of claim is in the future - (1 October 2024)</a>
        </li>
      </ul>

        

     
    </div>
  </div>

{% endblock %}
