{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <form class="form" action="education-past-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Have you been in education since [date of claim]?
              </h1>
            </legend>
            <div id="education-hint" class="govuk-hint">
              This includes in school, sixth form, college, university and online courses such as with The Open University.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="inEducation" name="inEducation" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="inEducation">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="inEducation-2" name="inEducation" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="inEducation-2">
                  No
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
