{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Education journey redesign - iteration 1
      </h1>

      
        
        <h2 class="govuk-heading-m">
        User research information
      </h2>

      <p>
        This was usability tested with 6 participants between 25 and 30 September 2024. 
      </p>
      <p>
        <a class="govuk-link govuk-link--no-visited-state" href="https://dwpdigital.atlassian.net/wiki/spaces/CADSS/pages/133763614564/Education+Questions+User+Research">Insight and analysis from this round of research</a>
      </p>
      

     

      
    
   

       
      <h2 class="govuk-heading-m">
        Prototype journeys that were tested
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-past-date.html">Date of claim is in the past - (1 July 2024)</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-today-date.html">Date of claim is today</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-future-date.html">Date of claim is in the future - (1 October 2024)</a>
        </li>
      </ul>

        

     
    </div>
  </div>

{% endblock %}
