{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Education redesign - iteration 2 
      </h1>

      
        
        

      <p>
        Minor content iterations based on insight from the usability sessions with iteration 1 - September 2024.
      </p>
      <p>Also includes radio option for 'The Open University' as per discussions with Policy and Ops. This is to be left in as an option for MVP. </p>

      <P><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1675766379899/2ab9a8b5720ee2290b7a0e4a35a7d40514ec6f53?wid=0-1729161262854">Journey in Mural</a></P>
      
      

     

      
    
   

       
      <h2 class="govuk-heading-m">
        Prototype journeys 
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-iteration-2/education-past-date.html">Date of claim is in the past - (1 July 2024)</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-iteration-2/education-today-date.html">Date of claim is today</a>
        </li>

        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="education-iteration-2/education-future-date.html">Date of claim is in the future - (1 October 2024)</a>
        </li>
      </ul>

        

     
    </div>
  </div>

{% endblock %}
