{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">What is Susan Grainger's relationship to you?</h1>

      <div class="bio">

      <div class="govuk-radios" data-module="govuk-radios">
        <!-- FIRST 5 -->
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
            Wife
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Father
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
            Mother
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Grandfather
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
            Grandmother
          </label>
        </div>
        <!-- END FIRST 5 -->

        <!-- SECOND 5 -->
        <div class="more">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Son
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              Daughter
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
              Grandson
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Granddaughter
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Stepfather
            </label>
          </div>
        </div>
        <!-- END SECOND 5 -->
         <!-- THIRD 5 -->
        <div class="more">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Stepmother
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              Stepson
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
              Stepdaughter
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Brother
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-4" name="whereDoYouLive" type="radio" value="northern-ireland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-4">
              Sister
            </label>
          </div>
        </div>
        <!-- END THIRD 5 -->
      </div>
      
      <button class="show-more-button govuk-button govuk-button--secondary govuk-!-margin-top-5" data-module="govuk-button">Show more relationships</button>
      <button class="govuk-button govuk-!-margin-top-1" data-module="govuk-button">Continue</button>
    </div>

    </div>
  </div>

{% endblock %}
