{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="path/of/next/page" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "pensionDetails",
          id: "pension-details",
          label: {
            text: "Details of personal or private pensions you have paid into since 11 March 2023",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Tell us about each pension you paid into, including how much and how often you paid into them."
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
