{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    This is a preview of this form. Do not enter personal information.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="summary" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "What is the full name of the person you cared for between 10 April 2015 and 2 September 2025?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "If you have cared for more than one person, we only need one person's name at this time."
        },
        id: "full-name",
        name: "fullNameOfPersonCaredFor",
        value: data['fullNameOfPersonCaredFor']
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Get help with this form
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>
          <b>Email</b><br />
          <a href="#">?@dwp.gov.uk</a>
        </p>

        <p>
          <b>Phone</b><br />
          ??? <br />
          <a href="#">Find out about call charges</a>
        </p>

        <p>
          <b>Online</b><br />
          <a href="#">? (opens in new tab)</a>
        </p>
      </div>
    </details>

    </div>

  </div>

{% endblock %}
