{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
        <p class="govuk-notification-banner__heading">
          Work in progress. Content may change.
        </p>
      {% endset %}

      {{ govukNotificationBanner({
        html: html
      }) }}

      <h1 class="govuk-heading-l">
        Request a review of your Carer's Allowance overpayment
      </h1>

      <p class="govuk-body-l">
        Only use this form if you have been asked to repay Carer's Allowance because of an overpayment related to employed earnings.
      </p>

      <h2 class="govuk-heading-m">Who can request a review</h2>

      <p class="govuk-body">This form is for carers who:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>received a Carer's Allowance overpayment due to employed earnings that went over the limit between 10 April 2015 and 2 September 2025</li>
        <li>are repaying DWP or have already paid back money because of an employed earnings overpayment</li>
      </ul>

      <p class="govuk-body">If you had more than one overpayment during this time, you only need to request a review once.</p>

      <h2 class="govuk-heading-m">Who cannot request a review</h3>
      <p class="govuk-body">Carers who were solely self-employed between 10 April 2015 and 2 September 2025. </p>

      <h3 class="govuk-heading-m">When can you request a review</h3>
      <p class="govuk-body">From 20 November 2025, you can request that we review your overpayment. </p>

      <h3 class="govuk-heading-m">Request a review online</h3>
      <p class="govuk-body">You will need your personal details and National Insurance number.</p>

      {{ govukButton({
        text: "Start now",
        href: "asked-to-repay-carers-allowance-overpayment",
        isStartButton: true
      }) }}

      <p class="govuk-body">This <a href="">form is available in Welsh (Cymraeg)</a>.</p>

      <h3 class="govuk-heading-s">Other ways to request an overpayment review</h3>
      <p class="govuk-body text-red">[You can apply by post or phone.]</p>
      <p class="govuk-body">You can get assisted digital support.</p>
      <p class="govuk-body">Telephone: ?</p>

      <h3 class="govuk-heading-s">What will happen next</h3>
      <p class="govuk-body">We will:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>start to review cases from April 2026</li>
      <li>contact you if we need extra information </li>
      </ul>

      <p class="govuk-body">You may have to provide evidence like a P45 or payslip.</p>

      <p class="govuk-body">After the review, we will send you a letter with our decision.</p>

    </div>

  </div>

{% endblock %}
