{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Request a review of your Carer's Allowance overpayment
      </h1>

      <p class="govuk-body-l">
        We are reviewing Carer’s Allowance overpayments related to employed earnings. The Sayce Independent Review found inconsistencies in the way we worked out average earnings for carers. 
      </p>

      <p class="govuk-body-l">
        You do not need to do anything. We will contact you if your case was affected. 
      </p>

      <h2 class="govuk-heading-m">Who can request a review</h2>

      <p class="govuk-body">You can request a review if you think this affects you and you have not had a letter from DWP.</p>

      <h2 class="govuk-heading-m">Who cannot request a review</h3>
      <p class="govuk-body">Carers who were solely self-employed between 10 April 2015 and 2 September 2025. </p>

      <h3 class="govuk-heading-m">When can you request a review</h3>
      <p class="govuk-body">You can do this from 1 April 2026.</p>

      <h3 class="govuk-heading-m">What you will need to request a review online</h3>
      <p class="govuk-body">You will need your personal details and National Insurance number.</p>

      {{ govukButton({
        text: "Start now",
        href: "asked-to-repay-carers-allowance-overpayment",
        isStartButton: true
      }) }}

      <p class="govuk-body">This <a href="">form is available in Welsh (Cymraeg)</a>.</p>

      <h3 class="govuk-heading-s">What will happen next</h3>
      <p class="govuk-body">We will:</p>

      <ul class="govuk-list govuk-list--bullet">
      <li>start to review cases from April 2026</li>
      <li>contact you if we need extra information </li>
      </ul>

      <p class="govuk-body">You may have to provide evidence like a P45 or payslip.</p>

      <p class="govuk-body">After the review, we will send you a letter with our decision.</p>

    </div>

  </div>

{% endblock %}
