{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}

{% endblock %}

{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <p class="govuk-notification-banner__heading">
    This is a preview of this form. Do not enter personal information.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: html
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="live-in-wales" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "What is your phone number? (optional)",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "We will use this number to contact you when we need more information about your request. You can give us a landline or a mobile number."
        },
        classes: "govuk-input--width-20",
        id: "phone-number",
        name: "phoneNumber",
        value: data['phoneNumber']
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

      <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Get help with this form
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>
          <b>Phone</b><br />
          <span class="text-red">[telephone TBC]</span><br />
          <a href="#">Find out about call charges</a>
        </p>
      </div>
    </details>

    </div>

  </div>

{% endblock %}
