{% extends "layouts/main.html" %}

{% block pageTitle %}
GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<main id="content" role="main" class=" govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div class="gem-c-title govuk-!-margin-top-0 govuk-!-margin-bottom-8">

        <h1 class="govuk-heading-xl">
          Carer's Allowance: report changes
        </h1>
      </div>

    </div>
    <div class="article-container group govuk-grid-column-two-thirds">
      <div class="content-block">
        <div class="inner">


          <section class="intro">
            <div class="get-started-intro">

              <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

                <p>You must report changes in circumstances if you’re claiming or have applied for Carer’s Allowance,
                  for example if:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>you change, start or leave your job</li>
                  <li>you start earning more than £151 a week</li>
                  <li>you stop being a carer</li>
                  <li>you stop providing at least 35 hours of care a week</li>
                  <li>you take a holiday or go into hospital - even if you arrange care while you’re away</li>
                  <li>the person you care for goes into hospital, into a care home or takes a holiday</li>
                </ul>

                <p>You cannot use this service to report the death of someone you’re caring for. You should use the <a
                    href="/after-a-death/organisations-you-need-to-contact-and-tell-us-once">Tell Us Once</a> service
                  instead.</p>

                <p>There’s a different way to <a rel="external"
                    href="https://www.nidirect.gov.uk/services/carers-allowance-report-changes-online">report changes in
                    Northern Ireland</a>.</p>

                <div role="note" aria-label="Information" class="application-notice info-notice">
                  <p>This guide is also available <a href="/lwfans-gofalwr-hysbysu-newidiadau">in Welsh (Cymraeg)</a>.
                  </p>
                </div>

                <h2 class="govuk-heading-m" id="report-changes-online">Report changes online</h2>

                <p>Make sure you have:</p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>your National Insurance number</li>
                  <li>details of the person you’re caring for</li>
                  <li>details of your changes</li>
                </ul>


              </div>
            </div>
            
            <p id="get-started" class="get-started group">

            
              <span class="gem-c-button__info-text gem-c-button__info-text--bottom-margin" aria-hidden="true"
                id="info-text-id-3e111ec4">on the Carer's Allowance service</span>

            </p>
          </section>

          <section class="more">
            <div id="before-you-start">
              <h2 class="gem-c-heading gem-c-heading--font-size-27   govuk-!-margin-bottom-4">
                Before you start
              </h2>

              <div class="gem-c-govspeak govuk-govspeak " data-module="govspeak" data-govspeak-module-started="true">

                <p>This will take around 10 minutes.</p>

                <h2 id="other-ways-to-apply">Other ways to apply</h2>
                <p>You can also report a change of circumstances to the <a href="/carers-allowance-unit">Carer’s
                    Allowance Unit</a> by phone or by post.</p>



              </div>
            </div>



          </section>

        </div>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="gem-c-contextual-sidebar govuk-!-display-none-print">

        <div class="gem-c-related-navigation govuk-!-display-none-print" data-module="ga4-link-tracker"
          data-ga4-link-tracker-module-started="true">
          <h2 id="related-nav-related_items-12de6c64" class="gem-c-related-navigation__main-heading">
            Related content
          </h2>



          <nav role="navigation" class="gem-c-related-navigation__nav-section"
            aria-labelledby="related-nav-related_items-12de6c64" data-module="gem-toggle"
            data-gem-toggle-module-started="true">


            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--sidebar  govuk-link gem-c-related-navigation__section-link--other"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;related content&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Related content&quot;}"
                  href="/carers-allowance">Carer's Allowance</a></li>

            </ul>
          </nav>

        </div>


      </div>

    </div>


    <div class="govuk-grid-column-two-thirds">

      <div class="gem-c-contextual-footer govuk-!-display-none-print">
        <div class="gem-c-related-navigation govuk-!-display-none-print" data-module="ga4-link-tracker"
          data-ga4-link-tracker-module-started="true">



          <nav role="navigation" class="gem-c-related-navigation__nav-section"
            aria-labelledby="related-nav-topics-4ac3595d" data-module="gem-toggle"
            data-gem-toggle-module-started="true">

            <h2 id="related-nav-topics-4ac3595d"
              class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer"
              data-track-count="footerRelatedItemSection">Explore the topic</h2>

            <ul class="gem-c-related-navigation__link-list">
              <li class="gem-c-related-navigation__link"><a
                  class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer"
                  data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;contextual footer&quot;,&quot;index_section&quot;:&quot;1&quot;,&quot;index_link&quot;:&quot;1&quot;,&quot;index_section_count&quot;:&quot;1&quot;,&quot;index_total&quot;:&quot;1&quot;,&quot;section&quot;:&quot;Explore the topic&quot;}"
                  href="/browse/benefits/manage-your-benefit">Manage an existing benefit, payment or claim</a></li>

            </ul>
          </nav>

        </div>
      </div>

    </div>
  </div>
</main>


{% endblock %}