{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Reordering the questions at the start of the claim journey
      </h1>

      <h2 class="govuk-heading-m">
        User needs
      </h2>

    

      <p>
        <strong>As a</strong> carer living in Scotland wanting to apply for financial support
      </p>
      <p>
        <strong>I need</strong> to know that I cannot apply for Carer’s Allowance and need to apply for Carer Support Payment instead
      </p>
      <p>
        <strong>So that</strong>  I am able to apply for the correct thing first time and so that I am not misinformed 
      </p>


     

      <h2 class="govuk-heading-m">
        Mural and Jira links
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
         Mural board: <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://app.mural.co/t/dwpdigital7412/m/dwpdigital7412/1668093935206/b88dddc514ac8eeb8ad9c5d93ef05bf62f3365cb?wid=0-1727451302168">UX - eligibility questions redesign</a>
        </li>

        <li>
          Jira ticket: <a class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank" href="https://dwpdigital.atlassian.net/browse/ACA-2676">ACA-2676</a>
        </li>
      </ul>

       
      <h2 class="govuk-heading-m">
        Prototype journeys:
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="/layouts/apply/long-journeys/start-of-claim/start-are-you-carer">GB service</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="/layouts/apply/long-journeys/start-of-claim/startni-are-you-carer">NI service</a></li>
      </ul>

    


        

     
    </div>
  </div>

{% endblock %}
