{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <form class="form" action="start-qualifying-benefit" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What benefit does the person you provide care for get?
            </h1>
          </legend>
          <div id="passport-issued-hint" class="govuk-hint">
            Do not include any benefits they have applied for if they have not got a decision yet.
          </div>

          <div class="govuk-radios">




            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits" name="benefits" type="radio" value="PIP">
              <label class="govuk-label govuk-radios__label" for="f-benefits">
                Personal Independence Payment - daily living component
              </label>

            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits-3" name="benefits" type="radio" value="DLA">
              <label class="govuk-label govuk-radios__label" for="f-benefits-3">
                Disability Living Allowance - middle or highest care rate
              </label>

            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits-5" name="benefits" type="radio" value="AA">
              <label class="govuk-label govuk-radios__label" for="f-benefits-5">
                Attendance Allowance
              </label>

            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits-6" name="benefits" type="radio" value="CAA">
              <label class="govuk-label govuk-radios__label" for="f-benefits-6">
                Constant Attendance Allowance
              </label>

            </div>


            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits-7" name="benefits" type="radio" value="AFIP">
              <label class="govuk-label govuk-radios__label" for="f-benefits-7">
                Armed Forces Independence Payment
              </label>

            </div>



            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits-8" name="benefits" type="radio" value="EU">
              <label class="govuk-label govuk-radios__label" for="f-benefits-8">
                A disability benefit paid by a country in the EU
              </label>

            </div>



            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="f-benefits-9" name="benefits" type="radio" value="none">
              <label class="govuk-label govuk-radios__label" for="f-benefits-9">
                None of these benefits
              </label>

            </div>




          </div>
        </fieldset>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}