{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                When do you want your Carer's Allowance to start?
              </h1>
            </legend>

            <p class="govuk-body">
              The person you care for must get their disability benefit before your claim can start.
            </p>
            <p class="govuk-body">
              You can backdate your claim for up to 3 months, as long as you provided care for at least 35 hours a week.
            </p>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                 Claims that can be backdated more than 3 months
                </span>
              </summary>
              <div class="govuk-details__text">
                <p>If the person you care for was awarded their disability benefit in the last 3 months with a backdated start date of more than 3 months ago, you can claim from:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>their disability benefit start date – if you were proving care for at least 35 hours a week from that date</li>
                  <li>the date you started to provide care – if this was after their benefit start date</li>

                </ul>

                
              </div>
            </details>

            <p>Your claim date cannot be more than 3 months in the future.</p>




            <h3 class="govuk-heading-s">Claim date</h3>

            <div id="passport-issued-hint" class="govuk-hint">
              For example, 18 9 1984
            </div>

           
            <div class="govuk-date-input" id="passport-issued">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <h3 class="govuk-heading-s">Were you providing care for the person for more than 35 hours a week before this date?</h2>
         
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="careDate" name="careDate" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="careDate">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="careDate-2" name="careDate" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="careDate-2">
                  No
                </label>
              </div>
              </div>
  </fieldset>
  </div>

        {{ govukButton({
          text: "Continue",
          href: "/layouts/apply/long-journeys/start-of-claim/start-end-of-journey"
        }) }}

      

    </div>
  </div>

{% endblock %}
