{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/add-income-2-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "sourceOfIncome2",
          fieldset: {
            legend: {
              text: "Tell us about income source 2",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can add more later."
          },
          items: [
            {
              value: "Employment",
              text: "Employment"
            },
            {
              value: "Self-employment",
              text: "Self-employment"
            },
            {
              value: "Rental property",
              text: "Rental property"
            },
            {
              value: "Caring for people",
              text: "Caring for people"
            },
            {
              value: "Fostering allowance",
              text: "Fostering allowance"
            },
            {
              value: "Cash in hand",
              text: "Cash in hand"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
