{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="threshold-weekly-3" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "howOftenPaid3",
          fieldset: {
            legend: {
              text: "How often do you get paid?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Weekly",
              text: "Weekly"
            },
            {
              value: "Fortnightly",
              text: "Fortnightly"
            },
            {
              value: "4 weekly",
              text: "4 weekly"
            },
            {
              value: "Monthly",
              text: "Monthly"
            },
            {
              value: "One-off-payments",
              text: "One-off payments"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
