{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Calculating your income</h1>

      <p>We will ask about your sources of income.</p>

      <p>If you are employed, we will check DWP and HMRC records to see your real-time earnings for the past 40 days before your Carer's Allowance starts.</p>

      <p>If you are self-employed, you will need to send us evidence about your earnings.</p>

      <a href="more-than-one-income" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
