
{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="payments-from-abroad" method="post">

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "carerWhereBeen",
          id: "carer-where-been",
          label: {
            text: "Where have you been?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Include dates you left and returned. We might contact you for further details."
          }
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      
    </div>

    </div>
  </div>

{% endblock %}
