{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <h2 class="govuk-heading-m">
        Education
      </h2>


      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Have you been in education at any time since 1 July 2024?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Change your answer to the question, 'Have you been in education at any time since 1 July 2024?'."
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Are you still in education?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Where are you studying?"
            },
            value: {
              text: "College"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Do you spend at least 21 hours each week doing supervised study?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Are you on a break from your course, agreed by your place of education?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

    

    </div>
  </div>
{% endblock %}
