{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – Apply for Carer's Allowance – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">
            We may need more information about your course of education
        </h1>

        <p class="govuk-body">
           After we receive your application, if we need more information about your course of education we will send you a form in the post.
        </p>

        <p class="govuk-body">
          This will need to be completed and signed by you and someone from your place of education, who can confirm your course details.
      </p>

      {{ govukButton({
        text: "Continue",
        href: "/layouts/apply/long-journeys/education/education-iteration-2/employment-deflection",
        isStartButton: false
      }) }}

        

        
        
        




  

  



        

  
    
  



      </form>
    </div>
  </div>

  {% endblock %}