{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – Apply for Carer's Allowance – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">
            We need more information about your course of education
        </h1>

        <p class="govuk-body">
            We will send you a form to complete after we receive your application. 
        </p>

        <p class="govuk-body">
          This will also need to be completed and signed by your course tutor, teacher or lecturer.
      </p>

      {{ govukButton({
        text: "Continue",
        href: "/layouts/apply/long-journeys/education/education-iteration-2/employment-deflection",
        isStartButton: false
      }) }}

        

        
        
        




  

  



        

  
    
  



      </form>
    </div>
  </div>

  {% endblock %}