{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – Apply for Carer's Allowance – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-l">
            You cannot get Carer's Allowance if you are in full-time education
        </h1>

        <p class="govuk-body">
            As you will be doing a course of education which is classed as full-time, it means you are not eligible for Carer's Allowance. You may be eligible after your course ends.
        </p>

        <h2 class="govuk-heading-m">Other support available</h2>
       
        <p class="govuk-body">
          You can get practical help, advice and support about being a carer at <a href="https://www.carersuk.org/" class="govuk-link" rel="noreferrer noopener" target="_blank">Carers UK (opens in a new tab)</a> and <a href="https://carers.org/" class="govuk-link" rel="noreferrer noopener" target="_blank">Carers Trust (opens in a new tab)</a>.
          <p class="govuk-body">
            You could also ask someone at your place of education, such as student services or student counselling, about what help may be available to you as a carer.  
          </p>
        </p>
        

        
        
        




  

  



        

  
    
  



      </form>
    </div>
  </div>

  {% endblock %}