{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     

      <form class="form" action="education-today-date" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you currently in education?
              </h1>
            </legend>
            <!--
            <div id="contact-hint" class="govuk-hint">
              This includes in school, sixth form, college, university and online courses. Select yes if you are currently on a break but will be going back into education after the break.
            </div>
            -->
            <p>This includes in school, sixth form, college, university and online courses. </p>
            <!-- Not to be used in this iteration 
              <p>If you are on a break, such as between terms, but will be going back into education, you should also select yes.</p>
            -->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="currentEducation" name="currentEducation" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="currentEducation">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="currentEducation-2" name="currentEducation" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="currentEducation-2">
                  No
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
