{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – Apply for Carer's Allowance – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <h1 class="govuk-heading-l">
          You cannot get Carer's Allowance if you are still in school
        </h1>

        <p class="govuk-body">
            As you will be at school and in full-time education from your claim date, you will not be able to get Carer's Allowance. You may be eligible for Carer's Allowance after you leave full-time education.
        </p>

        <h2 class="govuk-heading-m">Other support available</h2>
        <p class="govuk-body">
          You can get advice and support about being a young carer from <a href="https://www.childrenssociety.org.uk/information/young-people/young-carers" class="govuk-link" rel="noreferrer noopener" target="_blank" >The Children's Society (opens in a new tab)</a> and the <a href="https://www.nhs.uk/conditions/social-care-and-support-guide/support-and-benefits-for-carers/help-for-young-carers" class="govuk-link" rel="noreferrer noopener" target="_blank">NHS (opens in a new tab)</a>.
        </p>
        <p class="govuk-body">
          You can also ask your teacher or tutor about what help may be available to you as a young carer.
        </p>

        
        
        




  

  



        

  
    
  



      </form>
    </div>
  </div>

  {% endblock %}