{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check details</h1>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          card: {
            title: {
              text: "Claim details"
            }
          },
          rows: [
            {
              key: {
                text: "Carer's NINO"
              },
              value: {
                text: data['nationalInsuranceNumber']
              },
              actions: {
                items: [
                  {
                    href: "carers-full-name",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Carer's name"
              },
              value: {
                text: data['carersFullName']
              },
              actions: {
                items: [
                  {
                    href: "carers-full-name",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Carer's Allowance started"
              },
              value: {
                text: data['carer-start-carers-allowance-day'] + " " + data['carer-start-carers-allowance-month'] | monthName + " " + data['carer-start-carers-allowance-year']
              },
              actions: {
                items: [
                  {
                    href: "carer-start-carers-allowance",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Caring started"
              },
              value: {
                text: data['carer-start-caring-dp-day'] + " " + data['carer-start-caring-dp-month'] | monthName + " " + data['carer-start-caring-dp-year']
              },
              actions: {
                items: [
                  {
                    href: "carer-start-caring-for-disabled-person",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Disabled person's NINO"
              },
              value: {
                text: data['dpNationalInsuranceNumber']
              },
              actions: {
                items: [
                  {
                    href: "disabled-person-ni-number",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Qualifying benefit started"
              },
              value: {
                text: data['dp-start-qb-day'] + " " + data['dp-start-qb-month'] | monthName + " " + data['dp-start-qb-year']
              },
              actions: {
                items: [
                  {
                    href: "dp-start-receiving-qualifying-benefit",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          card: {
            title: {
              text: "Break in care"
            }
          },
          rows: [
            {
              key: {
                text: "Source"
              },
              value: {
                text: data['sourceOfInformation']
              },
              actions: {
                items: [
                  {
                    href: "source-of-information",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Not caring for 35 hours"
              },
              value: {
                text: data['whyNotCare35Hours']
              },
              actions: {
                items: [
                  {
                    href: "why-not-care-35-hours",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Permanent break"
              },
              value: {
                text: data['permanentBreak']
              },
              actions: {
                items: [
                  {
                    href: "permanent-break",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Break started"
              },
              value: {
                text: data['break-start-day'] + " " + data['break-start-month'] | monthName + " " + data['break-start-year']
              },
              actions: {
                items: [
                  {
                    href: "when-did-break-start",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Break ended"
              },
              value: {
                text: data['break-end-day'] + " " + data['break-end-month'] | monthName + " " + data['break-end-year']
              },
              actions: {
                items: [
                  {
                    href: "when-did-break-end",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Qualifying benefit suspended"
              },
              value: {
                text: data['suspendQB']
              },
              actions: {
                items: [
                  {
                    href: "suspend-qualifying-benefit",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Suspension start"
              },
              value: {
                text: data['suspension-start-day'] + " " + data['suspension-start-month'] | monthName + " " + data['suspension-start-year']
              },
              actions: {
                items: [
                  {
                    href: "when-did-suspension-start",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Suspension end"
              },
              value: {
                text: data['suspension-end-day'] + " " + data['suspension-end-month'] | monthName + " " + data['suspension-end-year']
              },
              actions: {
                items: [
                  {
                    href: "when-did-suspension-end",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Effective decision start date"
              },
              value: {
                text: data['effective-decision-start-date-day'] + " " + data['effective-decision-start-date-month'] | monthName + " " + data['effective-decision-start-date-year']
              },
              actions: {
                items: [
                  {
                    href: "effective-decision-start-date_revision",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Consider decision from date"
              },
              value: {
                text: "10 Dec 2025"
              },
              actions: {
                items: [
                  {
                    href: "consider-decision-from-date_revision",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue",
          href: "add-another-break"
        }) }}

    </div>
  </div>

{% endblock %}
