{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Decision</h1>

      <p class="govuk-body"><b>249S</b></p>

      <p class="govuk-body"><b>503 from 09/02/2026 to 22/02/2026</b><br /> Temporary break, no payment. <br />Disabled person has no qualifying benefit.</p>

      {{ govukButton({
      text: "Save and add",
      href: "helen"
      }) }}

    </div>
  </div>

{% endblock %}
