{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Decision</h1>

      <p class="govuk-body"><b>249S superseded</b><br />
      Original decision was correct, but there is new information so we need to give an updated decision</p>

      <p class="govuk-body"><b>502 from 9 Mar 2026 to 15 Mar 2026</b><br /> Temporary break, no payment. <br />
Carer did not provide care for more than 35 hours a week.</p>

      {{ govukButton({
      text: "Save and add",
      href: "lisa"
      }) }}

    </div>
  </div>

{% endblock %}
