{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Helen</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">National Insurance number: RM111111A</h2>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        href: "check-claim-details",
        text: "Add break in care"
      }) }}

      {{ govukButton({
        href: "check-claim-details_update-break",
        text: "Update break in care",
        classes: "govuk-button--secondary govuk-!-margin-left-3"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-bottom-8">

      <h3 class="govuk-heading-l">Claim details</h3>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Started receiving Carer's Allowance"
              },
              value: {
                text: "15 Dec 2025"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Started caring for the disabled person"
              },
              value: {
                html: "15 Dec 2025"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Disabled person's NINO"
              },
              value: {
                text: "RM111111B"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "date of birth"
                  }
                ]
              }
            },
            {
              key: {
                text: "Disabled Person started receiving Qualifying Benefit"
              },
              value: {
                text: "24 Nov 2025"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        <h3 class="govuk-heading-l govuk-!-margin-top-9">Breaks</h3>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "5 Jan 2026 to 22 Feb 2026"
              },
              value: {
                text: "249S - 503 - 9 to 22 Feb 2026 - Temporary break, no payment. Disabled person has no qualifying benefit."
              },
              actions: {
                items: [
                  {
                    href: "break-helen",
                    text: "View more",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

    </div>
  </div>

{% endblock %}
