{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="why-not-care-35-hours_add-new" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "sourceOfInformation",
          fieldset: {
            legend: {
              text: "What is the source of this information?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Claim (new application)",
              text: "Claim (new application)"
            },
            {
              value: "Revision",
              text: "Revision (change made after a review of a new claim or carer reported a change)"
            },
            {
              value: "Supersession",
              text: "Supersession (fix a mistake for someone who has Carer's Allowance)"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
