{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Breaks in care
      </h1>
      
      <p class="govuk-body">Use this service to record breaks in care and get accurate and consistent decisions about paying carers when they do not care for 35 hours in a week.</p>

      <p class="govuk-body">You can enter a carer's NINO to: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add details about a break in care</li>
        <li>see any other breaks that have been added for a carer</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "carers-ni-number",
        isStartButton: true
      }) }}

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h3 class="govuk-heading-s govuk-!-margin-top-9">For User Reearch</h3>

      {% from "govuk/components/table/macro.njk" import govukTable %}

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "National Insurance number"
          }
        ],
        rows: [
          [
            {
              text: "Helen"
            },
            {
              text: "RM111111A"
            }
          ],
          [
            {
              text: "Lisa Test"
            },
            {
              text: "RN000000B"
            }
          ],
          [
            {
              text: "Jane"
            },
            {
              text: "RM000000C"
            }
          ],
          [
            {
              text: "Jane Doe"
            },
            {
              text: "AA123456A"
            }
          ]
        ]
      }) }}

        <p>Enter any other National Insurance number to find a record that doesn't exist.</p

    </div>

{% endblock %}
