{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Carer's Allowance",
  serviceUrl: "/index",
  navigation: [
    {
      href: "/index.html",
      text: "Apply for Carer's Allowance"
      
    },
    {
      href: "#2",
      text: "Change of circs",
      active: true
    },
    {
      href: "/layouts/agent-facing/index-agent.html",
      text: "Agent-facing service"
    }
  ]
}) }}
{% endblock %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-l">
      Change of circumstances
    </h1>

     

   
  </div>
</div>

{% endblock %}
