{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Carer's Allowance",
  serviceUrl: "#",
  navigation: [
    {
      href: "#1",
      text: "Apply for Carer's Allowance",
      active: true
    },
    {
      href: "layouts/change-of-circs/index-cofc.html",
      text: "Change of circs"
    },
    {
      href: "layouts/agent-facing/index-agent.html",
      text: "Agent-facing service"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Apply for Carer's Allowance
    </h1>

      <h2 class="govuk-heading-m">
        <a href="/relationships-accessible-autocomplete/accessible-autocomplete-relationship" class="govuk-link--no-visited-state">
          Relationships - Accessible Autocomplete Demo
        </a>
      </h2>
      <p>A demo of the accessible autocomplete component for relationships.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="/nationality-and-relationships-full-journey/start" class="govuk-link--no-visited-state">
          Nationality and Relationships - full journey
        </a>
      </h2>
      <p>Full journey for Nationality prototype.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
      <h2 class="govuk-heading-m">
        <a href="/nationality-and-relationships/start" class="govuk-link--no-visited-state">
          Nationality and Relationships
        </a>
      </h2>
      <p>Prototype for nationality accessible autocomplete component.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
      <h2 class="govuk-heading-m">
        <a href="/public/images/email.png" class="govuk-link--no-visited-state">
          Overpayments - Email confirmation image
          </a>
      </h2>
      <p>PDF example of a letter a carer receives informing them of an overpayment they have recieved.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        <a href="/public/images/text.png" class="govuk-link--no-visited-state">
          Overpayments - Text messsage image
          </a>
      </h2>
      <p>PDF example of a letter a carer receives informing them of an overpayment they have recieved.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      
      <h2 class="govuk-heading-m">
        <a href="/public/images/overpayments-identified-carers.pdf" class="govuk-link--no-visited-state">
          Overpayments Letter
          </a>
      </h2>
      <p>PDF example of a letter a carer receives informing them of an overpayment they have recieved.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      
      <h2 class="govuk-heading-m">
        <a href="/overpayments/start" class="govuk-link--no-visited-state">
          Overpayments Form
          </a>
      </h2>
      <p>Prototype for reworked overpayments journey.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    
      <h3 class="govuk-heading-s">UR Round 2</h3>
      <h2 class="govuk-heading-m">
        <a href="/employment-and-income-2/start" class="govuk-link--no-visited-state">
          Employment &amp; Income
          </a>
      </h2>
      <p>New employment & income journey with expenses.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h3 class="govuk-heading-s">UR Round 1</h3>
      <h2 class="govuk-heading-m">
        <a href="/employment-and-income-with-expenses/start" class="govuk-link--no-visited-state">
          Employment &amp; Income with Expenses
          </a>
      </h2>
      <p>New employment & income journey with expenses.</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    
      <h2 class="govuk-heading-m">
        <a href="/relationships/start" class="govuk-link--no-visited-state">
          Relationships
          </a>
      </h2>
       <p>Concepts for how to handle relationships.</p>
    
      <h2 class="govuk-heading-m">
        <a href="/employment-and-income/start" class="govuk-link--no-visited-state">
          Employment & Income
          </a>
      </h2>
       <p>Optimising Emplyment & Income journey.</p>

      <h2 class="govuk-heading-m">
        <a href="/layouts/apply/short-journeys-index.html" class="govuk-link--no-visited-state">
          Shorter journeys
          </a>
      </h2>
       <p>Improvements or changes to specific pages or short journeys within the application service. For example, payment details or 35 hours of care 
        eligiblity deflection journey.</p>

       <h2 class="govuk-heading-m">
        <a href="/layouts/apply/long-journeys-index.html" class="govuk-link--no-visited-state">
          Longer journeys
          </a>
      </h2>
       <p>Improvements or changes to larger or end-to-end journeys. For example, date of claim or education.</p>


      

       

   
  </div>
</div>

{% endblock %}

{% block footer %}
 {{ govukFooter({
   meta: {
     items: [
       
       {
         href: "/manage-prototype",
         text: "Manage your prototype"
       },
       {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
     ],
     visuallyHiddenTitle: "Footer links"
   }
 }) }}
{% endblock %}
