{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers for income</h1>

      <form class="form" action="" method="post">

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "More than one income source"
      },
      value: {
        text: data['moreThanOneIncome']
      },
      actions: {
        items: [
          {
            href: "more-than-one-income",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Income source"
      },
      value: {
        text: data['mainSourceOfIncome']
      },
      actions: {
        items: [
          {
            href: "what-is-source-of-income",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Agency name"
      },
      value: {
        text: data['nameOfFosteringAgency']
      },
      actions: {
        items: [
          {
            href: "name-of-fostering-agency",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Receive payment"
      },
      value: {
        text: data['howOftenPaid2']
      },
      actions: {
        items: [
          {
            href: "how-often-paid-fostering-agency",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Amount receive"
      },
      value: {
        text: data['howMuchPaidFostering']
      },
      actions: {
        items: [
          {
            href: "how-much-paid-fostering",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}

<div class="govuk-button-group govuk-button-group--stacked">
{{ govukButton({
  text: "Add another income",
  classes: "govuk-button--secondary",
  href: "what-is-source-of-income"
}) }}

        {{ govukButton({
          text: "Continue",
          href: "private-pensions"
        }) }}
        </div>
      </form>

    </div>
  </div>

{% endblock %}
