{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers for childcare</h1>

      <form class="form" action="childcare-costs" method="post">

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
            title: {
              text: "Care details"
            }
          },
  rows: [
    {
      key: {
        text: "Pay for care"
      },
      value: {
        text: data['careCosts']
      },
      actions: {
        items: [
          {
            href: "childcare-costs",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
            title: {
              text: data['nameOfPerson']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove person"
                }
              ]
            }
          },
  rows: [
    {
      key: {
        text: "Who you pay"
      },
      value: {
        text: data['checkCanTakeCareCostsOff']
      },
      actions: {
        items: [
          {
            href: "check-can-take-childcare-costs-off",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "You pay"
      },
      value: {
        text: data['nameOfPerson']
      },
      actions: {
        items: [
          {
            href: "name-of-person-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Closely related"
      },
      value: {
        text: data['isPersonCloselyRelatedToYou']
      },
      actions: {
        items: [
          {
            href: "name-of-person-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Get Tax Free Childcare"
      },
      value: {
        text: data['taxFreeChildcare']
      },
      actions: {
        items: [
          {
            href: "tax-free-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "How often you pay for childcare?"
      },
      value: {
        text: data['howOftenPayForChildcare']
      },
      actions: {
        items: [
          {
            href: "how-often-pay-for-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "How much you pay for childcare a month if you take off TFC"
      },
      value: {
        text: data['careCostsForDP']
      },
      actions: {
        items: [
          {
            href: "check-amount-you-pay-for-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
            title: {
              text: data['nameOfBusiness']
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Remove person"
                }
              ]
            }
          },
  rows: [
    {
      key: {
        text: "Who you pay"
      },
      value: {
        text: data['checkCanTakeCareCostsOff']
      },
      actions: {
        items: [
          {
            href: "check-can-take-childcare-costs-off",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "You pay"
      },
      value: {
        text: data['nameOfPerson']
      },
      actions: {
        items: [
          {
            href: "name-of-person-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Get Tax Free Childcare"
      },
      value: {
        text: data['taxFreeChildcare']
      },
      actions: {
        items: [
          {
            href: "tax-free-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "How often you pay for childcare?"
      },
      value: {
        text: data['howOftenPayForChildcare']
      },
      actions: {
        items: [
          {
            href: "how-often-pay-for-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "How much you pay for childcare a month if you take off TFC"
      },
      value: {
        text: data['careCostsForDP']
      },
      actions: {
        items: [
          {
            href: "check-amount-you-pay-for-childcare",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}

        
        {{ govukButton({
          text: "Add another person or business",
          classes: "govuk-button--secondary",
          href: "check-can-take-care-costs-off"
        }) }}

        <br />
        
          {{ govukButton({
          text: "Continue"
        }) }}
      
      </form>

    </div>
  </div>

{% endblock %}
