{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/how-often-pay-childcare-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios",
          name: "howOftenPayForChildcare",
          fieldset: {
            legend: {
              text: "How often do you pay for childcare?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "week",
              text: "Weekly"
            },
            {
              value: "fortnight",
              text: "Fortnightly"
            },
            {
              value: "4 weeks",
              text: "4 weekly"
            },
            {
              value: "month",
              text: "Monthly"
            },
            {
              value: "6 months",
              text: "6 monthly"
            },
            {
              value: "year",
              text: "Yearly"
            },
            {
              value: "one-off payment",
              text: "One-off payments"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
