{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="do-you-have-expenses-previous-employment" method="post">

        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          id: "last-pay-compensation",
          name: "lastPayCompensation",
          label: {
            text: "How much compensation was included in your last pay?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false
        }) }}

        {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          name: "lastPayCompensationDoNotKnow",
          items: [
            {
              value: "I do not know",
              text: "I do not know"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
