{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Subsection"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your income
      </h1>

      <p class="govuk-body">To be eligible for Carer's Allowance (CA), you must earn less than £204 a week.</p>

      <p>To understand if you are eligible we will ask about your:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>current earnings</li>
        <li>earnings from any jobs that ended since <CLAIM DATE>, the date you want CA to start</li>
        <li>other sources of income</li>
      </ul>



{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "do-you-have-more-than-one-source-of-income"
}) }}

    </div>

  </div>

{% endblock %}
