{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Earnings from any jobs that have ended in the last 40 days
      </h1>

      <p class="govuk-body">If you have finished a job within the last 40 days, you need to tell us about it. This may affect your eligibility for Carer's Allowance.</p>

      <p>We can get most of the information from Department of Work and Pensions (DWP) and HMRC. We only ask about the details not available.</p>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "were-you-paid-by-a-previous-employer"
}) }}

    </div>

  </div>

{% endblock %}
