{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers for private pensions</h1>

      <form class="form" action="previous-employment" method="post">

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  card: {
            title: {
              text: "Private pension"
            }
          },
  rows: [
    {
      key: {
        text: "Pay into a private pension"
      },
      value: {
        text: data['doYouPayIntoPrivatePension']
      },
      actions: {
        items: [
          {
            href: "private-pensions",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "How often do you pay into your private pension?"
      },
      value: {
        text: data['howOftenPayPrivatePension']
      },
      actions: {
        items: [
          {
            href: "how-often-pay-private-pension",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "How much pay into a private pension"
      },
      value: {
        text: data['howMuchPayIntoPension']
      },
      actions: {
        items: [
          {
            href: "how-much-pay-into-private-pension",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Amount we can take off income"
      },
      value: {
        text: "£5"
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">

  {{ govukButton({
    text: "Add another private pension",
    classes: "govuk-button--secondary",
    href: "how-often-pay-private-pension"
  }) }}

  {{ govukButton({
          text: "Continue"
        }) }}
</div>

        
      </form>

    </div>
  </div>

{% endblock %}
