{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We may need more information about your income from self-employment</h1>

      <p>After we receive your application, we may send you a form in the post to find out more about your current weekly wage.</p>

      <a href="income-summary-2" class="govuk-button" data-module="govuk-button">
        Continue
      </a>

    </div>
  </div>

{% endblock %}
